Repository FunLocks/team2001, pull requests merged in 2020-12, with the labels that each got.

#59 Feature/main activity xml
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/FirstFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/MainActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PagerAdapter.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SecondFragment.kt
  front/Android/app/src/main/res/drawable/indicator_selector.xml
  front/Android/app/src/main/res/layout/activity_main.xml
  front/Android/app/src/main/res/layout/content_main.xml
  front/Android/app/src/main/res/layout/fragment_first.xml
  front/Android/app/src/main/res/layout/fragment_second.xml
  front/Android/app/src/main/res/values/colors.xml
  front/Android/app/src/main/res/values/dimens.xml
Labels: Android, DANGER, ISHIKI TAKAI, NARUHAYA, Toilet, help wanted

#65 Front/feature/setting
  front/Android/app/build.gradle
  front/Android/app/src/main/AndroidManifest.xml
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/MainActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PreferenceFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SettingsActivity.kt
  front/Android/app/src/main/res/layout/activity_settings.xml
  front/Android/app/src/main/res/values/strings.xml
  front/Android/app/src/main/res/xml/preferences.xml
Labels: Android, enhancement

#71 Front/feature/sound
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/FirstFragment.kt
  front/Android/app/src/main/res/raw/.gitignore
Labels: Android, enhancement

#72 Front/feature/web button
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SecondFragment.kt
  front/Android/app/src/main/res/layout/fragment_second.xml
Labels: Android, enhancement

#83 Android v1完成
  front/Android/.gitignore
  front/Android/.idea/codeStyles/Project.xml
  front/Android/.idea/codeStyles/codeStyleConfig.xml
  front/Android/.idea/runConfigurations.xml
  front/Android/app/.gitignore
  front/Android/app/build.gradle
  front/Android/app/proguard-rules.pro
  front/Android/app/src/androidTest/java/team01/yowayowa/sekibutton/ExampleInstrumentedTest.kt
  front/Android/app/src/main/AndroidManifest.xml
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/FirstFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/MainActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PagerAdapter.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PreferenceFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SecondFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SettingsActivity.kt
  front/Android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  front/Android/app/src/main/res/drawable/ic_launcher_background.xml
  front/Android/app/src/main/res/drawable/indicator_selector.xml
  front/Android/app/src/main/res/layout/activity_main.xml
  front/Android/app/src/main/res/layout/activity_settings.xml
  front/Android/app/src/main/res/layout/fragment_first.xml
  front/Android/app/src/main/res/layout/fragment_second.xml
  front/Android/app/src/main/res/menu/menu_main.xml
  front/Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  front/Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  front/Android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  front/Android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  front/Android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  front/Android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  front/Android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  front/Android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  front/Android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  front/Android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  front/Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  front/Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  front/Android/app/src/main/res/navigation/nav_graph.xml
  front/Android/app/src/main/res/raw/.gitignore
  front/Android/app/src/main/res/values/colors.xml
  front/Android/app/src/main/res/values/dimens.xml
  front/Android/app/src/main/res/values/strings.xml
  front/Android/app/src/main/res/values/styles.xml
  front/Android/app/src/main/res/xml/preferences.xml
  front/Android/app/src/test/java/team01/yowayowa/sekibutton/ExampleUnitTest.kt
  front/Android/build.gradle
  front/Android/gradle.properties
  front/Android/gradle/wrapper/gradle-wrapper.jar
  front/Android/gradle/wrapper/gradle-wrapper.properties
  front/Android/gradlew
  front/Android/gradlew.bat
  front/Android/settings.gradle
Labels: Android

#103 React dev
  front/React/.gitignore
  front/React/mapviewer/.gitignore
  front/React/mapviewer/README.md
  front/React/mapviewer/package-lock.json
  front/React/mapviewer/package.json
  front/React/mapviewer/public/favicon.ico
  front/React/mapviewer/public/index.html
  front/React/mapviewer/public/logo192.png
  front/React/mapviewer/public/logo512.png
  front/React/mapviewer/public/manifest.json
  front/React/mapviewer/public/robots.txt
  front/React/mapviewer/src/App.css
  front/React/mapviewer/src/App.js
  front/React/mapviewer/src/App.test.js
  front/React/mapviewer/src/index.css
  front/React/mapviewer/src/index.js
  front/React/mapviewer/src/logo.svg
  front/React/mapviewer/src/reportWebVitals.js
  front/React/mapviewer/src/setupTests.js
Labels: Web

#112 React/feature/sidebar
  front/React/mapviewer/public/index.html
  front/React/mapviewer/src/App.css
  front/React/mapviewer/src/App.js
  front/React/mapviewer/src/App.test.js
  front/React/mapviewer/src/Main.js
  front/React/mapviewer/src/Sidebar.js
  front/React/mapviewer/src/index.css
  front/React/mapviewer/src/index.js
  front/React/mapviewer/src/logo.svg
  front/React/mapviewer/src/reportWebVitals.js
  front/React/mapviewer/src/setupTests.js
Labels: Web

#120 [add] レコードを全件取得する関数を作った
  back/app/main.go
Labels: Back

#122 [fix] 多分APIの読み込み周りが修正された
  back/app/geocode/api.go
Labels: Back

#130 React/feature/map
  front/React/.gitignore
  front/React/mapviewer/package-lock.json
  front/React/mapviewer/package.json
  front/React/mapviewer/src/App.js
  front/React/mapviewer/src/Main.js
  front/React/mapviewer/src/Map.js
  front/React/mapviewer/src/index.css
Labels: Web

#134 [fix] 函館以外もデータを取得できるようになった
  back/app/geocode/geocode.go
  back/app/geoparser/geoparser.go
  back/app/gormdb/gormdb.go
  back/app/query/query.go
Labels: Back

#137 Feature/address process
  back/app/geocode/geocode.go
  back/app/geoparser/geoparser.go
  back/app/gormdb/gormdb.go
  back/app/query/query.go
Labels: Back

#138 Back dev
  .gitignore
  back/app/Dockerfile
  back/app/geocode/geocode.go
  back/app/geoparser/geoparser.go
  back/app/gormdb/gormdb.go
  back/app/main.go
  back/app/query/query.go
  back/app/types/types.go
  back/mysql/Dockerfile
  docker-compose.yml
Labels: Back

#149 Droid/feature/walksuru
  front/Android/app/src/main/AndroidManifest.xml
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/MainActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PreferenceFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PreferenceUtil.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WalkPagerAdapter.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WalkThroughActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment1.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment2.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment3.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment4.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment5.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment6.kt
  front/Android/app/src/main/res/drawable/.gitignore
  front/Android/app/src/main/res/drawable/shape_rouded_corners.xml
  front/Android/app/src/main/res/layout/activity_walkthrough.xml
  front/Android/app/src/main/res/layout/fragment_walk1.xml
  front/Android/app/src/main/res/layout/fragment_walk2.xml
  front/Android/app/src/main/res/layout/fragment_walk3.xml
  front/Android/app/src/main/res/layout/fragment_walk4.xml
  front/Android/app/src/main/res/layout/fragment_walk5.xml
  front/Android/app/src/main/res/layout/fragment_walk6.xml
  front/Android/app/src/main/res/values/dimens.xml
  front/Android/app/src/main/res/values/strings.xml
Labels: Android

#152 Feature/ahchoo endpoint
  back/app/main.go
  back/app/query/query.go
Labels: Back

#153 Back dev
  back/app/geocode/geocode.go
  back/app/geoparser/geoparser.go
  back/app/gormdb/gormdb.go
  back/app/main.go
  back/app/query/query.go
Labels: Back

#154 postの実装,Webリンク決め打ち更新[8081]
  front/Android/app/build.gradle
  front/Android/app/src/main/AndroidManifest.xml
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/FirstFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/MainActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SecondFragment.kt
Labels: Android

#155 Hotfix/hard url fix
  hard/__pycache__/GPS.cpython-37.pyc
  hard/main.py
Labels: Hard

#156 fix:ignore
  .gitignore
  hard/GPS.pyc
  hard/__pycache__/GPS.cpython-37.pyc
Labels: documentation, duplicate

#158 AHCHOO! WEB v.1
  front/React/.gitignore
  front/React/mapviewer/.env
  front/React/mapviewer/package-lock.json
  front/React/mapviewer/package.json
  front/React/mapviewer/public/index.html
  front/React/mapviewer/src/App.css
  front/React/mapviewer/src/App.js
  front/React/mapviewer/src/App.test.js
  front/React/mapviewer/src/Main.js
  front/React/mapviewer/src/Map.js
  front/React/mapviewer/src/Sidebar.js
  front/React/mapviewer/src/index.css
  front/React/mapviewer/src/index.js
  front/React/mapviewer/src/logo.svg
  front/React/mapviewer/src/reportWebVitals.js
  front/React/mapviewer/src/setupTests.js
Labels: Web

#159 Front dev
  front/Android/app/build.gradle
  front/Android/app/src/main/AndroidManifest.xml
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/FirstFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/MainActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PreferenceFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/PreferenceUtil.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/SecondFragment.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WalkPagerAdapter.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WalkThroughActivity.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment1.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment2.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment3.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment4.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment5.kt
  front/Android/app/src/main/java/team01/yowayowa/sekibutton/WarkFragment6.kt
  front/Android/app/src/main/res/drawable/.gitignore
  front/Android/app/src/main/res/drawable/shape_rouded_corners.xml
  front/Android/app/src/main/res/layout/activity_main.xml
  front/Android/app/src/main/res/layout/activity_settings.xml
  front/Android/app/src/main/res/layout/activity_walkthrough.xml
  front/Android/app/src/main/res/layout/fragment_first.xml
  front/Android/app/src/main/res/layout/fragment_second.xml
  front/Android/app/src/main/res/layout/fragment_walk1.xml
  front/Android/app/src/main/res/layout/fragment_walk2.xml
  front/Android/app/src/main/res/layout/fragment_walk3.xml
  front/Android/app/src/main/res/layout/fragment_walk4.xml
  front/Android/app/src/main/res/layout/fragment_walk5.xml
  front/Android/app/src/main/res/layout/fragment_walk6.xml
  front/Android/app/src/main/res/values/dimens.xml
  front/Android/app/src/main/res/values/strings.xml
  front/React/.gitignore
  front/React/mapviewer/.env
  front/React/mapviewer/.gitignore
  front/React/mapviewer/README.md
  front/React/mapviewer/package-lock.json
  front/React/mapviewer/package.json
  front/React/mapviewer/public/favicon.ico
  front/React/mapviewer/public/index.html
  front/React/mapviewer/public/logo192.png
  front/React/mapviewer/public/logo512.png
  front/React/mapviewer/public/manifest.json
  front/React/mapviewer/public/robots.txt
  front/React/mapviewer/src/App.js
  front/React/mapviewer/src/Main.js
  front/React/mapviewer/src/Map.js
  front/React/mapviewer/src/Sidebar.js
  front/React/mapviewer/src/index.css
  front/React/mapviewer/src/index.js
Labels: Android, Web
